.control-center-container {
  padding: 20px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .sources-label {
    font-size: 24px;
    font-weight: bold;
  }

  .sources-found-label, .source-type-header {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
  }

  .sources-found-label {
    color: var(--color-light-3);
  }



  .filter-bar-container {
    display: flex;
    gap: 15px;

    .filter-button {
      border: 1px solid var(--color-light-3);
      padding: 5px 15px;
      border-radius: 50px;
      outline: none;
      font-size: 12px;
      background-color: transparent;
      color: var(--color-light-3);
      transition: background-color 0.25s ease, color 0.25s ease;

      &:hover, &.active {
        background-color: var(--color-light-3);
        outline: none;
        color: var(--color-dark-6);
      }
    }
  }

  .type-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .source-type-header {
      color: var(--color-light-0);
    }

    .sources-grid {
      display: flex;
      flex-direction: row;
      gap: 20px;
  
      .source-container {
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 20vw;
        min-width: 200px;
        min-height: 200px;
        max-width: 260px;
        max-height: 260px;
        border-radius: 5px;
        background-color: var(--color-dark-4);
        border: 2px solid transparent;
        transition: border 0.25s ease;
        justify-content: center;
        align-items: center;
        gap: 12px;

        &:hover {
          border: 2px solid var(--color-dark-5);
        }

        .header {
          font-size: 18px;
          font-weight: 500;
          padding-top: 16px;
        }

        .label {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}