.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

$logo-sizes: (
  'xs': 16px,
  'sm': 24px,
  'md': 32px,
  'lg': 48px,
);

@each $size in map-keys($logo-sizes) {
  .size-#{$size} {
    height: map-get($logo-sizes, $size);
    width: map-get($logo-sizes, $size);
    font-size: calc(map-get($logo-sizes, $size)*3/4);
  }

  .logo-text {
    display: flex;
    align-items: center;
    margin-left: calc(map-get($logo-sizes, $size)/3);
    font-weight: 500;
    
    .primary {
      color: var(--color-primary-0);
    }
  }
}