.lock-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.toggle-button {
  font-size: 12px;
  width: 60px;

  border: 1px solid transparent;
  transition: 0;

  &:hover {
    border: 1px solid var(--color-primary-0);
    outline: 0;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: 0;
  }
}

.lock-icon {
  width: 32px;
  height: 32px;
}

.rhs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.popup-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 18px;

  .popup-title {
    font-weight: 600;
    font-size: 14px;
  }

  .popup-description {
    font-weight: 500;
    font-size: 12px;
    color: var(--color-grey-0);
  }
}

.popup-actions {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
