.popup-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.popup-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-dark-3);
  z-index: 11;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
